*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styling the navbar */
nav{
    /* border: 2px solid; */
    width: 100%;
    height: 60px;
    /* height: auto; */
    background-color: #0000003b;
    position: fixed;
    border-bottom: 1px solid black;
    z-index: 100;
}
nav ul{
    margin-left: 110px;
    /* margin:0px; */
    /* border: 2px solid red; */
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    /* border: 2px solid yellow; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    font-family: cursive;
    font-size: 18px;
    border-right: 1px solid rgb(47, 47, 47);
    border-left: 1px solid rgb(47, 47, 47);
    text-decoration: none;
    color: rgb(241, 241, 241);
    height: 100%;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000000ab;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    /* position: absolute; */
    /* float: center; */
}
nav ul li a:hover{
    background-color: #44312000;
    /* font-size: 15px; */
    border: 1px solid rgb(165, 165, 165);
    transition: .4s;
    color: #fbfbfb;
}

/* second section design starts */
#second_section{
    overflow: hidden;
    margin-bottom: 50px;
}
#second_section_all #quotes{
    position:absolute;
    color: white;
    margin-top: -600px;
    /* border: 10px solid green; */
}
#second_section_all #quotes p{
    font-size: 14px;
    color: tan;
    /* border: 2px solid red; */
    text-align: right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#second_section_all{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}
#second_section_all::before{
    content: '';
    background: url(./images/cover.jpg) center center/cover fixed;
    width: 100%;
    /* opacity: 0.6; */
    filter: brightness(45%) saturate(80%);
    /* filter: blur(110%); */
    /* filter: contrast(90%); */
    /* text-align: center; */
    /* position: fixed; */
    height:100vh;
    /* background-color: black; */
    /* z-index: 10; */
}
#second_section_all h1{
    /* position: relative; */
    position: absolute;
    /* display: block; */
    border: 1px solid rgb(0, 0, 0);
    /* padding: 12px 20px; */
    width: 100%;
    text-align: center;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.363);
    color: rgb(181, 235, 235);
    letter-spacing: 8px;
    word-spacing: 20px;
    font-size: 4rem;
    font-family: 'Redressed', cursive;
    
}


#forflex{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* position: absolute; */
    /* border: 2px solid red; */
    box-shadow: 0px 3px 30px 20px black;
    position:absolute;
    width: 100%;
    background-color: rgba(22, 21, 21, 0.418);
    margin-top: 615px;
    /* margin-bottom: 30px; */
}
.boxsection{
    border: 1px solid rgba(128, 125, 125, 0.342);
    /* display: inline-block; */
}
.boxsection:hover{
    box-shadow: 0px 3px 30px 5px rgb(109, 109, 109);
    transition: .3s;
    margin-top: -5px;
}

.imagebox{
    overflow: hidden;
    width: 250px;
    height: 300px;
    /* margin-top: 300px; */
}
.imagebox img{
    width: 100%;
    height: 100%;
}
#workimage img{
    filter: invert(90%);
}
.boxsection a{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    background-color: rgb(37, 32, 37);
    width: 100%;
    display: inline-block;
    text-align: center;
}