*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styling the navbar */
nav{
    /* border: 2px solid; */
    width: 100%;
    height: 60px;
    /* height: auto; */
    background-color: #08596d;
    position: fixed;
    border-bottom: 1px solid black;
    z-index: 100;
}
nav ul{
    margin-left: 10px;
    /* margin:0px; */
    /* border: 2px solid red; */
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    /* border: 2px solid yellow; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    font-family: cursive;
    font-size: 14px;
    
    text-decoration: none;
    color: rgb(241, 241, 241);
    height: 100%;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:#000000ab; */
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
}
nav ul li a:hover{
    background-color: #07495a;
    transition: .4s;
    color: #fbfbfb;
}



/* styling the logo */
#logo{
    margin-right: 100px;
}
#logo-2{
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 19px;
    border-left: 2px solid white;
    padding-left: 6px;
    color:rgb(209, 147, 31);
    /* background-color: rgb(0, 0, 0); */
}
#logo-1{
    letter-spacing: 3px;
    font-size: 19px;
    font-weight: 700;
    margin-right: 3px;
    padding-right: 3px;
    border-right: 2px solid rgb(255, 255, 255);
    color: rgb(209, 147, 31);
}
#logo a:hover{
    background: none;
}
.second_section{
    background-image:linear-gradient(90deg,rgba(0, 0, 0, 0.972),rgba(66, 66, 66, 0.719)), url("images/mypicture.jpg");
    height: 910px;
    background-size:100%;
    display: flex;
    /* position: relative; */
    width: 100%;
    /* border: 3px solid yellow; */
    background-repeat: no-repeat;
}
.all_texts{
    overflow: hidden;
    /* border: 2px solid red; */
    width: 60%;
    position: absolute;
    top: 35%;
    height: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    left: 2%;
}
.all_texts h2{
    color: rgb(21, 143, 165);
    font-family:'Redressed', cursive ;
    letter-spacing: 2px;
    word-spacing: 6px;
    font-size: 28px;
    /* word-break: break-all; */
}
.author-name{
    color: rgb(216, 160, 7);
    display: block;
    float: right;
    font-size: 14px;
}
.all_texts h1{
    position: absolute;
    top: 150px;
    left: 200px;
    font-size: 30px;
    letter-spacing: 14px;
    word-spacing: 10px;
    line-height: 80px;
    /* margin-top: 40px; */
    color: rgb(209, 147, 31);
    /* border: 2px solid; */
    text-align: center;
}
.all_texts h1 span{
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 10px;
    font-size: 3rem;
    font-family: 'Syncopate', sans-serif;
    color: rgb(221, 212, 160);
    display: block;
    /* text-align: center; */
    margin-left: 35px;
}
.second-section-right{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 2%;
    overflow: hidden;
    top: 40%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.377);
    box-shadow: 1px 1px 30px 5px rgb(42, 42, 42);
    border-radius: 10px;
    height: 300px;
}
.second-section-right p{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 6px;
    /* letter-spacing: 1px; */
    text-align: left;
    width: 100%;
    font-size: 22px;
    padding:20px 10px 0px 20px ;
    word-wrap: break-word;
    color: rgb(188, 220, 228);
    /* height: 400px; */
    font-family:'Redressed', cursive ;
}
.coloring-html{
    color: rgb(247, 133, 99);
    font-weight: 600;
    letter-spacing: 3px;
}
.coloring-css{
    color: rgb(24, 216, 104);
    font-weight: 600;
    letter-spacing: 3px;
}
.button{
    text-decoration: none;
    border-radius: 4px;
    margin-top: 100px;
    width: 85%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: rgb(201, 141, 31);
    padding: 10px 30px 10px 30px;
}
.button:hover{
    background-color: orange;
    transition: .5s;
    letter-spacing:2px ;
}



/* designing line breaking */
.line-break{
    padding: 5px 0px 5px 0px;
    background-color: rgb(194, 189, 189);
    display: flex;
    justify-content: center;

}
.line-break p{

    width: 85%;
    border-radius: 10px;
    border: 2px solid rgb(2, 2, 2);
}
/* styling third section */
.third-section{
    /* border: 2px solid yellow; */
    height: 520px;
    width: 100%;
    background-image:linear-gradient(rgba(3, 3, 3, 0.87),rgba(99, 49, 49, 0.829)), url("images/camera.jpeg");
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 5px;
    /* filter: blur(90%); */
}
